.general-container {
  width: 200px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.toggle-container {
  margin: 0 auto;
  padding: 10px;
}

#switch-button {
  margin-right: 30px;
}

#switch-indicator {
  display: inline-block;
  border-radius: 10px;
  width: 30px;
  height: 30px;
  background-color: green;
}
